@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.TitleCard = "Product List";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

 <div><a href="/Admin/Product/Create" class="btn btn-outline-success">Add New Product </a></div>
<table id="mytable" class="table table-hover">
    <thead>
        <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Price</td>
    <td>Category</td>
    <td>Actions</td>
        </tr>
    </thead>    
</table>
@section Scripts{
    <script src="~/js/products.js"></script>
}

 

